torch==2.2.2
torchvision==0.17.2
torcheval
scikit-learn
pytorch-lightning
datasets
pandas
matplotlib
matplotlib-venn
seaborn
glob2
pandas
venny4py
wandb
transformers
xgboost
h5py
faiss-gpu
fair-esm
sentencepiece
